{% extends "base.html" %}
{% load static %}

{%block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{%endblock%}
{% block content %}    

<div class="hero-img">    
    <div class="container">
                <h2 class="motto mx-auto logo-font">
                    Your One Stop Plastic Free, Zero Waste Online Shop                        
                </h2>
                <div class=" my-5 text-center">
                    <h4 >
                        <a href="{% url 'products' %}" class="shop-now-button btn rounded-5 text-uppercase p-3"> Shop Now</a>
                    </h4>
               </div>      
    </div>        
</div> 
<hr>
<div class="container mt-5">
    <div class="d-flex justify-content-between align-items-center mb-3"> <span class="mx-auto featured">New Arrivals</span>  </div>
        <div class="row">        
            {% for product in product_newarrival %}
                <div class=" mx-auto col-lg-3 col-md-6 col-sm-12 ">
                    
                    {% if product.image %}
                                <a href="{%url 'product_detail' product.id %}">
                                    <div class="text-center float-md-start">   <img class="new-arrival"  src="{{ product.image.url }}" alt="{{ product.name }}"></div>
                                </a>
                                {% else %}
                                <a  href="{%url 'product_detail' product.id %} ">
                                    <div class="text-center float-md-start"><img class="new-arrival" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}"></div>
                                </a>
                                {% endif %}
                       
                    <div class="my-3 text-center">
                        
                        <h5 class="text-uppercase">{{product.name}}</h5> <span>£ {{product.price}}</span>
                    </div>        
                
                </div>           
            {% endfor %}      
        </div>
</div>

    <div class="container-fluid about">
        <div class="row">
            <div class="col-12 px-5 py-3 text-center">
                <h1> About Us </h1>
                <p class="px-5" >
                    <br>  We are a UK zero waste shop with all of your everyday essentials for sustainable living. Simple, eco swaps anyone can start making today 

                    to reduce your impact on our precious environment. Before we started EcoShop, we can remember how good it felt slowly eliminating one plastic

                    product from our home after another. Our biggest drive to make these simple swaps was so we could protect the planet for our kids and for the 

                    generations to come, so they could enjoy the great outdoors in the same way we did.<br>

                    To say that shopping eco friendly products is expensive is a myth, and we want to help disprove this. Start small and simple with what you can afford.

                    The cheapest eco swaps are in the kitchen, so change your cleaning products, dish brushes and clothes first. You will see these don’t cost much, and they will actually save you money in the long run since they are made better and last so much longer.<br>

                    Eco Friendly shopping has never been easier for all of your favourite green products & zero waste products.<br>
                    
                    Ready to start making some simple swaps?<br>
                    
                    Welcome to EcoShop!
                </p>
            </div>
           
        </div>

    </div>
    <div class="container mt-5">
    <div class="d-flex justify-content-between align-items-center mb-3"> <span class="mx-auto featured">Popular Categories</span>  </div>
    <!-- create model to check how many times a category has been clicked -->
    <div class="row container-fluid">        
            <div class=" mx-auto col-xl-6 col-lg-6 col-md-6 col-sm-12 mx-2 ">
                <div class="d-flex justify-content-between align-items-center">
                    <div class="d-flex flex-row align-items-center "> </div> 
                </div>
                 <a href="{% url 'products' %}?category=On-the-go">
                <div class="text-center float-md-start"> <img  src="{{ MEDIA_URL }}on-the-go.png" height="259" width="400" > </div>
                 </a>   
                 <div class="my-3 text-center">
                      
                    <h5 class="text-uppercase"> On the go</h5> <span class="from">From £2.99</span>
                </div>               
            </div>
        
     
            <div class="mx-auto col-xl-6 col-lg-6 col-md-6 col-sm-12 mx-2 ">
                <div class="d-flex justify-content-between align-items-center">
                    <div class="d-flex flex-row align-items-center "> </div> 
                </div>
                <a href="{% url 'products' %}?category=Skin Care">
                <div class="text-center float-md-start skincare"> <img  src="{{ MEDIA_URL }}skincare.png" height="259" width="400"> </div>
                </a>
                <div class="text-center my-3 " >
                    <h5 class=" text-uppercase" >Skin care</h5> <span class=" from">From £9.99</span>
                </div>
            </div>       
       
    </div>
</div>
<div>
    <!-- The Modal -->
    <div class="modal fade" id="discountmodal">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">            
            <!-- Modal Header -->
            <div class="modal-header">               
                <button type="button" class="close" data-dismiss="modal"><span class=""><i class=" second-color far fa-window-close"></i></span></button>
            </div>            
            <!-- Modal body -->
            <div class="modal-body">
                <div class="modal-img">
                <img src="{{ MEDIA_URL }}DISCOUNT20.png" alt="DISCOUNT20">                    
                </div>                
            </div>        
        </div>
    </div>      
</div>
{% endblock %}
{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript">
       $(window).on('load',delayShow);

    function delayShow(){ setTimeout(() => {
        $('#discountmodal').modal('show');
        console.log("modal function works");
    }, 3000);}
    /// clear out the delayshow if it is called once(after it called once)
    document.addEventListener("DOMContentLoaded", function(event) {
        console.log("Hello! I am loaded");
        });    
    </script>
{%endblock%}
