 <!-- The Modal -->
 <div class="modal fade" id="discountmodal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">            
        <!-- Modal Header -->
        <div class="modal-header">               
            <button type="button" class="close" data-dismiss="modal"><span style="color:#006D77 ;"><i class=" far fa-window-close"></i></span></button>
        </div>            
        <!-- Modal body -->
        <div class="modal-body">
            <div class="modal-img">
            <img style="width: 100%;" src="{{ MEDIA_URL }}DISCOUNT20.png" alt="DISCOUNT20">                    
            </div>                
        </div>        
    </div>
</div>      
</div>