#profile-update-form .form-control {
    color: #006D77;
}

#profile-update-form input::placeholder {
    color: #83C5BE;
}

#id_default_country,
#id_default_country option:not(:first-child) {
    color: #006D77;
}

#id_default_country option:first-child {
    color: #83C5BE;
}
.oreder-history{
    max-height: 416px;
    overflow-y: auto;
}